@charset "utf-8";
/* CSS Document */


/* top */
.top_member{text-align: right; height: 50px; line-height: 50px;}
.top_menu_wp{width: 100%; background: #548f1e; height: 55px;}
.top_logo{position: absolute; top: -50px; left: 15px;}
.top_menu{margin-left: 200px;}
.top_menu ul li{float: left; font-size: 16px; line-height: 55px; margin-right: 25px;}
.top_menu ul li a{color: #fff;}
.top_ico{padding-top: 20px;}
.top_ico a{margin-right: 10px;}
.top_sear{padding-top: 14px;}
.top_serinput{width: 138px; color: #959595; padding-left: 10px; line-height: 28px; height: 28px; background: #fff; border-left: 1px #147816 solid; border-bottom: 1px #147816 solid; border-top: 0; border-right:0;}
.top_serbut{background: url(../images/tbut.png) no-repeat 0 0; width: 28px; height: 29px; border: 0; cursor: pointer;}
.top_tips{margin-left: 200px; color: #548f1e; height: 55px; line-height: 55px;font-weight:bold}
.top_ico_navs{padding-left: 20px; height: 130px;}
.top_ico_nav{width: 65px; text-align: center; margin-right: 25px; margin-top: 30px;}
.top_ico_nav a{color: #4b4b4b; font-weight: bold; line-height: 22px;}
.top_more{margin-top: 40px;margin-right:10px}

/* index_ban */
.index_ban{width: 100%; height: 390px; background: #e4e4e4;margin-bottom:25px}
.index_ban_left{width: 710px;}
.index_ban_right{width: 310px;}
.index_ban_right .ban_right{height: 38px; padding-right: 45px; line-height: 40px; text-align: right; border-bottom: 1px #bfc3c6 solid; font-size: 18px; color: #434343; }
.index_ban_right .bag{ background:url(../images/bag_ico.png) no-repeat 270px center;}
.index_ban_right .tieshi{ background:url(../images/tieshi_ico.png) no-repeat 270px center;}
.index_ban_right .raiders{ background:url(../images/raiders_ico.png) no-repeat 270px center;}
.index_ban_right .post{ background:url(../images/post_ico.png) no-repeat 270px center;}
.index_ban_right .activities{ background:url(../images/activities_ico.png) no-repeat 270px center;}
.index_mobile{background: url(../images/mob_logo.png) no-repeat 0 center; height: 97px; padding-left: 110px;  margin-top: 28px;}
.index_mobile_tit{font-size: 22px; color: #323232;float:right}
.index_mobile_img {margin-top: 15px;float:right}
.index_mobile_img li{width:52px; float:left;text-align:center;margin-left:7px}
/* index_main */
.index_main_left{width: 710px;}
.index_main_right{width: 310px;}
.common_title{font-size: 16px; font-weight: bold; color: #585858;}
.black{color: black}
.common_title a{color: #2f77c1; font-size: 12px; font-weight: normal;}
/*技术贴士*/
.jstx_ul ul li{float: left; width: 110px; margin-right: 32px;}
.jstx_li_img{width: 102px; height: 155px; border: 1px #c2c2c2 solid; 
-webkit-box-shadow:0 0 20px 5px rgba(243,243,243,1.0);
-moz-box-shadow:0 0 10px 5px rgba(243,243,243,1.0);
box-shadow:0 0 5px 1px rgba(243,243,243,1.0);
padding: 3px;
margin-bottom: 10px;
margin-top: 25px;
 }
.jstx_li_img img{width: 102px; height: 155px;}
.jstx_li_tit{}
.jstx_li_tit a{color: #2f73b6;}
.jstx_li_date{color: #636363; line-height: 22px;}
/*游记攻略*/
.yjgl_ul ul{padding-top: 25px;}
.yjgl_ul ul li{margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px #ebebeb solid;}
.yjgl_li_img{
width: 200px; height: 130px; border: 1px #e5e5e5 solid; 
-webkit-box-shadow:0 0 20px 5px rgba(243,243,243,1.0);
-moz-box-shadow:0 0 10px 5px rgba(243,243,243,1.0);
box-shadow:0 0 5px 1px rgba(243,243,243,1.0);
padding: 5px;
text-align: center;
overflow: hidden;
}
.yjgl_li_img img{max-width: 200px; max-height: 130px;z-index:1}
.yjgl_li_img .elite {
position: absolute;
width: 56px;
height: 56px;
overflow: hidden;
line-height: 500px;
margin-left:145px;
background: url(../images/best.png) no-repeat;
cursor: pointer;
z-index:9999
}
.author_img{width: 49px; height: 49px;}
.author_img img{width: 49px; height: 49px;
-webkit-border-radius: 49px; 
-moz-border-radius: 49px; 
border-radius: 49px; }
.yjgl_li_title{margin-left: 15px; width: 390px;}
.yjgl_li_tit{font-size: 14px; font-weight: bold; height: 25px; line-height: 25px;}
.yjgl_li_tit a{color: #2f73b6;}
.yjgl_li_tit_aut{display: inline-block;width: 160px;}
.yjgl_li_tit_aut font{color: #2f73b6;font-size: 12px;}
.yjgl_li_tit_other{line-height: 24px;}
.yjglico{display: inline-block; height: 24px; color:#959595; }
.yjgl_li_des{line-height: 18px; width: 450px; font-size: 13px; margin-top: 15px;}
.yjgl_li_com{margin-top: 15px;}
.yjgl_li_com font{color: #2f73b6; font-size: 12px;}
/*每日光荣榜*/
.day_honnor{width: 275px; height: 30px; line-height: 20px;margin-top:20px}
.day_honnor .l{font-size: 14px; color: #717171;}
.day_honnor .r{color: #a2a2a2;}
.index_main_right .author_img{margin-right: 10px;}

.weixin{text-align:center}
/*野孩子都在玩*/
.playing{
    margin: 10px 0;
   border-bottom:2px solid #ebebeb;
   padding-to:5px;
    padding-bottom:5px;
}
.playing p{height:50px;height:45px;margin-bottom:10px;}
.playing span{display:block;float:left;padding-right:15px;height:45px;line-height: 45px;}
.b{font-weight: bold;font-size: 14px;color:#585858}
.green{color:#548f1e;padding:0px 4px}


