/* add by jason */
[class^="icon-"], [class*=" icon-"] {
    overflow:visible !important; /* added by jason */
}
a[class^=icon-],a[class*=" icon-"] {
    font-size: 3em;
    color: darkgreen;
}
a[class^=icon-]:hover,a[class*=" icon-"]:hover {
    color: red;
}
[class^="icon-"]>div,[class*=" icon-"]>div {
    white-space:nowrap;
}
[class^="icon-"]>img,[class*=" icon-"]>img {
    display: none!important;
}

a[class^=gwk-pin-dest-] {
    background: url(/images/map_menu_icons/gwk-markers-70.png) no-repeat 0 0;
    background-size: 35px auto;
    width: 35px!important;
    height: 46px!important;
    display: inline-block;
}

a[class^=gwk-pin-dest-]>img {
    display: none!important;
}

a[class^=gwk-pin-dest-]>div {
    white-space:nowrap;
}

a.gwk-pin-dest-40 {
    background-position: 0 -46px!important;
}

a.gwk-pin-dest-44 {
    background-position: 0 -92px!important;
}

a.gwk-pin-dest-41 {
    background-position: 0 -138px!important;
}

a.gwk-pin-dest-ski {
    background-position: 0 -184px!important;
}

a.gwk-pin-dest-42 {
    background-position: 0 -460px!important;
}

a.gwk-pin-dest-43 {
    background-position: 0 -368px!important;
}

a.gwk-pin-dest-45 {
    background-position: 0 -414px!important;
}

a.gwk-pin-dest-46 {
    background-position: 0 -552px!important;
}

a.gwk-pin-dest-48 {
    background-position: 0 -506px!important;
}

a.gwk-pin-dest-36 {
    background-position: 0 -230px!important;
}

a.gwk-pin-dest-39 {
    background-position: 0 -276px!important;
}

a.gwk-pin-dest-activity {
    background-position: 0 -644px!important;
}

a.gwk-pin-dest-np {
    background-position: 0 -690px!important;
}

a.gwk-pin-dest-mypos {
    background-position: 0 0!important;
}

/* panel icons */
span[class^=gwk-pin-dest-] {
    background: url(/images/map_menu_icons/gwk-markers-70.png) no-repeat 0 0;
    /*background-size: 100% auto;*/
    width: 70px!important;
    height: 92px!important;
    display: inline-block;
    zoom: 36%;
}

span.gwk-pin-dest-40 {
    background-position: 0 -92px!important;
}

span.gwk-pin-dest-44 {
    background-position: 0 -184px!important;
}

span.gwk-pin-dest-41 {
    background-position: 0 -276px!important;
}

span.gwk-pin-dest-ski {
    background-position: 0 -368px!important;
}

span.gwk-pin-dest-42 {
    background-position: 0 -920px!important;
}

span.gwk-pin-dest-43 {
    background-position: 0 -736px!important;
}

span.gwk-pin-dest-45 {
    background-position: 0 -828px!important;
}

span.gwk-pin-dest-46 {
    background-position: 0 -1104px!important;
}

span.gwk-pin-dest-all {
    background-position: 0 -1196px!important;
}

span.gwk-pin-dest-48 {
    background-position: 0 -1012px!important;
}

span.gwk-pin-dest-36 {
    background-position: 0 -460px!important;
}

span.gwk-pin-dest-39 {
    background-position: 0 -552px!important;
}


.gwk-dest-title {
    vertical-align:10px;
}
/* end add by jason */