@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?u7gtju');
	src:url('fonts/icomoon.eot?#iefixu7gtju') format('embedded-opentype'),
		url('fonts/icomoon.ttf?u7gtju') format('truetype'),
		url('fonts/icomoon.woff?u7gtju') format('woff'),
		url('fonts/icomoon.svg?u7gtju#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gwk-my-pos:before {
	content: "\e680";
}
.icon-gwk-poi-national-park:before {
	content: "\e600";
}
.icon-gwk-btn-poi:before {
	content: "\e601";
}
.icon-gwk-dest-running .path1:before {
	content: "\e602";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-running .path2:before {
	content: "\e603";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-running .path3:before {
	content: "\e604";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camping .path1:before {
	content: "\e605";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-camping .path2:before {
	content: "\e606";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camping .path3:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camping .path4:before {
	content: "\e608";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camping .path5:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camping .path6:before {
	content: "\e60a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-btn-dest:before {
	content: "\e60b";
}
.icon-gwk-dest-fishing .path1:before {
	content: "\e60c";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-fishing .path2:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-fishing .path3:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-fishing .path4:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-fishing .path5:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-fishing .path6:before {
	content: "\e611";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-fishing .path7:before {
	content: "\e612";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-sky-diving .path1:before {
	content: "\e613";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-sky-diving .path2:before {
	content: "\e614";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-sky-diving .path3:before {
	content: "\e615";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-sky-diving .path4:before {
	content: "\e616";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-sky-diving .path5:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-sky-diving .path6:before {
	content: "\e618";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-skiing .path1:before {
	content: "\e619";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-skiing .path2:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-skiing .path3:before {
	content: "\e61b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-skiing .path4:before {
	content: "\e61c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-skiing .path5:before {
	content: "\e61d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-skiing .path6:before {
	content: "\e61e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-skiing .path7:before {
	content: "\e61f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path1:before {
	content: "\e620";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-diving .path2:before {
	content: "\e621";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path3:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path4:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path5:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path6:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path7:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path8:before {
	content: "\e627";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-diving .path9:before {
	content: "\e628";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-surfing .path1:before {
	content: "\e629";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-surfing .path2:before {
	content: "\e62a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-surfing .path3:before {
	content: "\e62b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-surfing .path4:before {
	content: "\e62c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-surfing .path5:before {
	content: "\e62d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hunting .path1:before {
	content: "\e62e";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-hunting .path2:before {
	content: "\e62f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hunting .path3:before {
	content: "\e630";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hunting .path4:before {
	content: "\e631";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hiking .path1:before {
	content: "\e632";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-hiking .path2:before {
	content: "\e633";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hiking .path3:before {
	content: "\e634";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hiking .path4:before {
	content: "\e635";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-hiking .path5:before {
	content: "\e636";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path1:before {
	content: "\e637";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-walking .path2:before {
	content: "\e638";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path3:before {
	content: "\e639";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path4:before {
	content: "\e63a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path5:before {
	content: "\e63b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path6:before {
	content: "\e63c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path7:before {
	content: "\e63d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-walking .path8:before {
	content: "\e63e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-fishing .path1:before {
	content: "\e63f";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-fishing .path2:before {
	content: "\e640";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-fishing .path3:before {
	content: "\e641";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-fishing .path4:before {
	content: "\e642";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-fishing .path5:before {
	content: "\e643";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-fishing .path6:before {
	content: "\e644";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-btn-activity:before {
	content: "\e645";
}
.icon-gwk-dest-sky-diving .path1:before {
	content: "\e646";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-sky-diving .path2:before {
	content: "\e647";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-sky-diving .path3:before {
	content: "\e648";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-sky-diving .path4:before {
	content: "\e649";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-sky-diving .path5:before {
	content: "\e64a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-sky-diving .path6:before {
	content: "\e64b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-rock-climbing .path1:before {
	content: "\e64c";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-rock-climbing .path2:before {
	content: "\e64d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-rock-climbing .path3:before {
	content: "\e64e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-rock-climbing .path4:before {
	content: "\e64f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-rock-climbing .path5:before {
	content: "\e650";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-rock-climbing .path6:before {
	content: "\e651";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-camping .path1:before {
	content: "\e652";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-camping .path2:before {
	content: "\e653";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-camping .path3:before {
	content: "\e654";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-camping .path4:before {
	content: "\e655";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-camping .path5:before {
	content: "\e656";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-camping .path6:before {
	content: "\e657";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-skiing .path1:before {
	content: "\e658";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-skiing .path2:before {
	content: "\e659";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-skiing .path3:before {
	content: "\e65a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-skiing .path4:before {
	content: "\e65b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-skiing .path5:before {
	content: "\e65c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-skiing .path6:before {
	content: "\e65d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-skiing .path7:before {
	content: "\e65e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-hunting .path1:before {
	content: "\e65f";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-hunting .path2:before {
	content: "\e660";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-hunting .path3:before {
	content: "\e661";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-hunting .path4:before {
	content: "\e662";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-surfing .path1:before {
	content: "\e663";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-surfing .path2:before {
	content: "\e664";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-surfing .path3:before {
	content: "\e665";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-surfing .path4:before {
	content: "\e666";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-surfing .path5:before {
	content: "\e667";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camera .path1:before {
	content: "\e668";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-camera .path2:before {
	content: "\e669";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-camera .path3:before {
	content: "\e66a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-rock-climbing .path1:before {
	content: "\e66b";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-rock-climbing .path2:before {
	content: "\e66c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-rock-climbing .path3:before {
	content: "\e66d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-rock-climbing .path4:before {
	content: "\e66e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-rock-climbing .path5:before {
	content: "\e66f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-rock-climbing .path6:before {
	content: "\e670";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-horse-riding .path1:before {
	content: "\e671";
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-horse-riding .path2:before {
	content: "\e672";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-horse-riding .path3:before {
	content: "\e673";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-horse-riding .path4:before {
	content: "\e674";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-pin-horse-riding .path5:before {
	content: "\e675";
	margin-left: -1em;
	color: rgb(146, 200, 62);
}
.icon-gwk-pin-horse-riding .path6:before {
	content: "\e676";
	margin-left: -1em;
	color: rgb(146, 200, 62);
}
.icon-gwk-dest-scuba-diving .path1:before {
	content: "\e677";
	color: rgb(129, 195, 65);
}
.icon-gwk-dest-scuba-diving .path2:before {
	content: "\e678";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path3:before {
	content: "\e679";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path4:before {
	content: "\e67a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path5:before {
	content: "\e67b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path6:before {
	content: "\e67c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path7:before {
	content: "\e67d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path8:before {
	content: "\e67e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-gwk-dest-scuba-diving .path9:before {
	content: "\e67f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
